<DOCTYPE html5>
<html>
    <head>
        <title>Pure Tracking Graph</title>
        <link rel="stylesheet" type="text/css" href="static/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/static/css/decorate.css">
        <script src="/static/js/d3.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="./js/three.js"></script>
		<script src="./js/OrbitControls.js"></script> -->
    </head>
    <body>
        <div id="overallDiv">
            <div id="pureGTDiv"></div>
            <div id="legendDiv"></div>
            <div id="threeDPathDiv"></div>
            <div id="timeAnalysisDivBorder">
                <div id="timeAnalysisDiv">
                    <div class="tSFDiv" id="SFLastTT"></div>
                    <div class="tSFDiv" id="SFLastT"></div>
                    <div class="tSFDiv" id="SFT" style="border-left: 1px orange solid; border-right: 1px orange solid;"></div>
                    <div class="tSFDiv" id="SFNextT"></div>
                    <div class="tSFDiv" id="SFNextTT"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/INT-THChange.js"></script>
    <script src="/static/js/init.js"></script>
    <script src="/static/js/trackingGraph.js"></script>
    <script src="/static/js/visTrackingGraph.js"></script>
    <script src="/static/js/visLegend.js"></script>
</html>